@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.help_page {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    padding: 11px 0 72px 0;

    .help_page__image {
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .help_page__textBlock {
        width: 50%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .title {
            @include font-default(24px, 500, 29.26px);
        }

        .faqBlock {
            margin-top: 15px;

            .item {
                margin-top: 12px;

                &.accordion-item {
                    border: 0;
                }

                .accordion-header {
                    .accordion-button:not(.collapsed) {
                        color: $colorWhite !important;
                        background-color: $colorWhite !important;
                        box-shadow: none !important;
                    }

                    button {
                        box-shadow: none;
                    }
                }

                .accordion-body {
                    border-bottom: 2px !important;
                    box-shadow: none !important;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }

                .question {
                    @include font-default(16px, 400, 19.5px);
                }

                .answer {
                    @include font-default(14px, 300, 22.4px, #354455);
                }
            }
        }
    }
}


@media(max-width: $md4 + px) {
    .root {
        padding: 24px 16px;

        .textBlock {
            .title {
                @include font-default(18px, 500, 21.94px);
            }

            .faqBlock {
                .item {
                    .question {
                        @include font-default(13px, 400, 15.85px);
                    }

                    .answer {
                        @include font-default(12px, 300, 19.2px, #354455);
                    }
                }
            }
        }
    }
}