@import "src/shared/styles/global";


.home__slider {
    width: 100%;
    padding-bottom: 20px;

    .carousel {
        .carousel-indicators [data-bs-target] {
            width: 8px !important;
            height: 8px !important;
            border: 1px solid black !important;
            border-radius: 50%;
            background: none;
        }

        .carousel-indicators {
            margin-bottom: -15px !important;

            .active {
                background: #000 !important;
            }
        }

        .carousel-item {
            transition: transform 900ms ease, opacity 10s ease-out;
        }
    }

    .slideImg {
        width: 100%;
        max-height: 488px;
        object-fit: cover;

        &.clickable {
            cursor: pointer;
        }
    }
}

@media (max-width: $md4 + px) {
    .home__slider {
        .slideImg {
            height: 298px;
        }
    }
}