@import "../../../styles/global";
@import "../../../styles/mixins";


.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 50px;
    background-color: $colorWhite;

    img {
        width: 64px;
        height: 64px;
    }

    .header {
        @include font-default(22px, 500, 22px);
    }

    .text {
        margin-top: 15px;
        @include font-default(14px, 300, 21px);
        text-align: center;
    }

    .button {
        margin-top: 16px;
        width: 100%;

        button {
            margin-top: 5px;
            width: 100%;
            padding: 14px 0 13px 0;

            background-color: $colorPrimary;
            @include font-default(14px, 500, 17.07px, $textColorWhite);
            @include hoverWhiteBlackButton;
        }
    }
}


@media (max-width: $md4 + px) {
    .root {
        .header {
            @include font-default(18px, 500, 18px);
        }

        .text {
            @include font-default(12px, 300, 18px);
        }

        .button {
            button {
                @include font-default(13px, 500, 17px, $textColorWhite);

            }

        }
    }
}
