@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .container {
        width: 440px;
        height: 672px;
        background: $colorWhite;
        padding: 32px 24px;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .title {
                @include font-default(20px, 600, 24.38px);
            }

            .closeIcon {
                width: 24px;
                height: 24px;

                display: flex;
                justify-content: center;
                align-items: center;


                img {
                    width: 14px;
                    height: 14px;
                }

                @include ifHover {
                    &:hover {
                        transform: scale(1.15);
                        cursor: pointer;
                    }
                }
            }
        }

        .body {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .fieldLabel {
                width: 100%;
                @include font-default(13px, 500, 15.95px, $textColorGray);

                &.errorFieldLabel {
                    color: $colorRed;
                }
            }


            .inputField {
                width: 100%;
                height: 44px;
                border: 1px solid #E7E7E7;
                padding-left: 12px;
                @include font-default(14px, 500, 17.07px);

                &::placeholder {
                    color: $textColorGray;
                }

                &.errorInputField {
                    border: 1px solid $colorRed;
                }
            }

            .field {
                width: 100%;

                input {
                    margin-top: 4px;
                }
            }

            .phoneField {
                .inputWrap {
                    margin-top: 4px;
                    height: 44px;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    border: 1px solid #E7E7E7;

                    &.errorInputField {
                        border: 1px solid $colorRed;
                        border-right: 0;
                    }

                    .dropDownWrap {
                        width: 100px;
                        height: 18px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div {
                            padding-bottom: 0 !important;
                        }

                        button {
                            width: 80px;
                            padding: 0;
                            border: 0;
                        }

                        span {
                            margin-right: -5px !important;
                            @include font-default(14px, 500, 17.07px);

                            svg {
                                width: 20px;
                                height: 15px;
                            }
                        }
                    }
                }

                .inputPhone {
                    border-left: 0 !important;
                }
            }

            .checkbox {
                margin-top: 16px;
                display: flex;
                align-items: center;

                span {
                    margin-left: 6px;
                    @include font-default(15px, 500, 18.15px);
                }

                a {
                    @include font-default(15px, 500, 18.15px, #2F80ED);
                }
            }

            .button {
                margin-top: 5px;
                width: 100%;
                height: 44px;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: $colorPrimary;
                @include font-default(14px, 500, 17.07px, $textColorWhite);
                @include hoverWhiteBlackButton;
                cursor: pointer;
            }
        }
    }
}


@media (max-width: $md4 + px) {
    .root {
        .container {
            width: 90%;
        }
    }
}