@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    padding-top: 12px;

    .title {
        @include font-default(24px, 500, 29.26px);
    }

    .text {
        margin-top: 18px;
        padding: 16px;
        background-color: $colorWhite;
        @include font-default(14px, 300, 23.1px, #5B5B5B);
        white-space:pre-wrap;
        word-wrap:break-word;
    }
}


@media (max-width: $md4 + px) {
    .root {
        padding-left: 10px;
        padding-top: 10px;

        .title {
            @include font-default(17px, 500, 21px);
        }
    }
}