@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0 12px 0 15px;
    border: 1px solid #E0E0E0;
    background-color: #F8F8F8;

    input {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: transparent;

        @include font-default(16px, 400, 19.5px);

        &::placeholder {
            @include font-default(16px, 400, 19.5px, #858F9B);
        }
    }

    .searchIcon {
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img {
            width: 18px;
            height: 18px;
        }

        @include ifHover {
            &:hover {
                background-color: $colorGray;
                border-radius: 50%;
            }
        }
    }

    .searchResult {
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 2;
        overflow-y: scroll;
        width: 100%;
        height: 250px;
        background-color: $colorWhite;
        border: 1px solid #EEEEEE;

        .searchItem {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding: 16px 20px;

            @include font-default(14px, 400, 21px);
            border-bottom: 1px solid #EEEEEE;
            cursor: pointer;

            @include ifHover {
                &:hover {
                    background: rgb(229, 230, 231);
                    background: linear-gradient(90deg, rgba(229, 230, 231, 1) 0%, rgba(225, 225, 233, 1) 67%, rgba(224, 224, 228, 1) 75%);
                }
            }
        }
    }
}
