@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


$fontTitle: 500 normal 24px $fontFamily;
$fontCardTitle: 500 normal 14px $fontFamily;
$fontCardDesc: 400 normal 14px $fontFamily;


.root {
    margin-top: 40px;

    .title {
        @include font-face($fontTitle, $textColorPrimary, 29.26px);
        text-align: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .card {
            padding: 24px 12px 49px 12px;
            background-color: $colorWhite;

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 262px;
                height: 175px;

                .title {
                    @include font-face($fontCardTitle, $textColorPrimary, 17.07px);
                    margin-top: 28px;
                }

                .description {
                    @include font-face($fontCardDesc, $textColorGray, 24.5px);
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
}


