@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    padding-top: 12px;
    background-color: $colorMainBackground;


    .title {
        @include font-default(24px, 500, 29.26px);
        margin-bottom: 18px;
    }

    .news {
    }
}