@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .item {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include font-default(16px, 500, 19.5px, $textColorGray);
        background-color: $colorWhite;
        cursor: pointer;

        &.active {
            background-color: $colorPrimary;
            color: $textColorWhite;
        }

        @include hoverWhiteBlackButton;
    }

    .dots {
        cursor: default;
    }
}


@media (max-width: $md4 + px) {
    .root {
        gap: 6px;

        .item {
            width: 32px;
            height: 32px;
            @include font-default(12px, 500, 14.63px, $textColorGray);
        }
    }
}