@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    margin-top: 40px;

    .title {
        @include font-default(24px, 500, 29.26px);
        text-align: center;
    }

    .cards {
        margin-top: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
    }
}

@media (max-width: $md4 + px) {
    .root {
        padding: 0 17px;

        .title {
            @include font-default(18px, 500, 21.94px);
        }
    }
}