@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    width: 384px;
    padding: 24px;
    background-color: $colorWhite;

    .lineDiv {
        margin-top: 24px;
        margin-bottom: 24px;

        hr.line {
            background-color: transparent;
            background-image: linear-gradient(to right, black 53%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 13px 1px;
            background-repeat: repeat-x;
        }
    }

    .title {
        margin-bottom: 16px;
        @include font-default(14px, 500, 17.07px);
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .labels {
            display: flex;
            flex-direction: column;
            gap: 12px;
            @include font-default(14px, 400, 17.07px, $textColorGray);
        }

        .values {
            display: flex;
            flex-direction: column;
            gap: 12px;
            @include font-default(14px, 400, 17.07px);
        }
    }

    .buttonDiv {
        margin-top: 16px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 100%;
            height: 100%;
            background-color: #E5271B;
            @include font-default(14px, 500, 17.07px, $colorWhite);

            @include ifHover {
                &:hover {
                    background-color: $colorGray;
                    color: $colorPrimary;
                }
            }
        }
    }
}