@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


$fontTitle: 600 normal 24px $fontFamily;
$fontVendor: 400 normal 14px $fontFamily;
$fontPrice: 400 normal 24px $fontFamily;
$fontOldPrice: 500 normal 16px $fontFamily;
$fontDescriptionTitle: 600 normal 16px $fontFamily;
$fontDescriptionText: 400 normal 14px $fontFamily;
$fontPropLabel: 600 normal 14px $fontFamily;
$fontPropValue: 400 normal 14px $fontFamily;
$fontButton: 500 normal 14px $fontFamily;


.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $colorWhite;

    .product {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .column1 {
            display: flex;
            flex-wrap: wrap;
            width: 624px;
            justify-content: space-between;

            img {
                width: 308px;
                height: 492px;
                margin-bottom: 10px;

                &:nth-child(n+5) {
                    width: 150px;
                    height: 240px;
                }
            }
        }

        .column2 {
            display: flex;
            flex-direction: column;
            width: 520px;
            padding: 20px;

            .title {
                @include font-face($fontTitle, $textColorPrimary, 29px);
            }

            .vendor {
                @include font-face($fontVendor, $textColorPrimary, 14px);
                margin-top: 18px;

                .vendorLabel {
                    font-weight: bold;
                }

                .vendorValue {
                    margin-left: 6px;
                }
            }

            .color {
                display: flex;
                flex-direction: row;
                margin-top: 12px;


                .colorLabel {
                    @include font-face($fontVendor, $textColorPrimary, 17px);
                    font-weight: bold;
                }

                .colorButtons {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    width: 100%;
                    margin-left: 5px;
                    align-items: center;

                    button {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        border: 1px solid #D1D1D1;
                    }
                }

            }

            .price {
                @include font-face($fontPrice, $textColorPrimary, 29.26px);
                margin-top: 18px;

                .oldPrice {
                    @include font-face($fontOldPrice, $textColorGray, 19.5px);
                    text-decoration: line-through;
                    margin-left: 6px;
                }
            }

            .description {
                margin-top: 18px;

                .title {
                    @include font-face($fontDescriptionTitle, $textColorPrimary, 20px);
                }

                .text {
                    margin-top: 6px;
                    @include font-face($fontDescriptionText, #6A6A6A, 25.2px);
                }
            }

            .props {
                margin-top: 16px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .propsLabel {
                    @include font-face($fontPropLabel, $textColorPrimary, 17.07px);
                }

                .propsValue {
                    @include font-face($fontPropValue, $textColorPrimary, 17.07px);
                    margin-left: 6px;
                }
            }

            .buttons {
                margin-top: 20px;
                display: flex;
                flex-direction: row;

                img {
                    width: 24px;
                    height: 21px;
                }

                .buttonHovered {
                    @include ifHover {
                        &:hover {
                            background-color: $colorGray;

                            span {
                                color: $textColorPrimary;
                            }

                            img {
                                filter: brightness(45%);
                            }
                        }
                    }
                }

                .buttonShoppingBag {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 428px;
                    background-color: $colorPrimary;

                    span {
                        @include font-face($fontButton, $colorWhite, 17.07px);
                        margin-left: 5px;
                    }
                }

                .buttonFavorite {
                    margin-left: 6px;
                    background-color: $colorPrimary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                }
            }
        }
    }
}