@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 64px 0;
}


@media (max-width: $md4 + px) {
    .root {
        padding: 24px 16px 64px 16px;
    }
}