.panel {
    display: flex;
    flex-direction: row;
    gap: 6px;

    .telegram {
        background-color: #0088CC;
    }

    .whatsapp {
        background-color: #25D366;
    }

    .telephone {
        background-color: #27AE60;
    }
}