// Обнулуние
@import "./null";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");


// Шрифт по умолчанию
$defaultFontFamily: "Montserrat";


// Цвета:
$colorMainBackground: #F6F7F7;
$colorRed: #E5271B;
$colorPrimary: #1D1D1B;
$colorWhite: #FFFFFF;
$colorGray: #E5E2E2;

$textColorPrimary: #393939;
$textColorGray: #979797;
$textColorWhite: #FFFFFF;


// Брекпоинты:
$minWidth: 320px;
$maxWidthContainer: 1195;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;



