// Обнулуние
@import "null";

// Шрифт по умолчанию
$fontFamily: "Montserrat";

$colorWhite: #FFFFFF;
$colorPrimary: #1D1D1B;

$textColorPrimary: #393939;


// Переменные
$minWidth: 320px;
$maxWidthContainer: 1195;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;



