@import "./global";

// TODO: удалить
@mixin font-face($font, $color, $lineHeight, $letterSpacing: 0px) {
    font: $font;
    color: $color;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}


@mixin font-default($size, $weight, $lineHeight, $color: $textColorPrimary) {
    font-family: $fontFamily;
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    color: $color;
}

/**
   Применят css праивила если устройство поддерживает hover эффект,
   т. е все кроме планшетов, телефонов
 */
@mixin ifHover{
    @media (hover: hover) {
        @content
    }
}

@mixin whiteBlackButtonHover {
    @include ifHover {
        &:hover {
            background-color: $colorGray;
            color: $textColorPrimary // $colorPrimary;
        }
    }
}



// TODO: добавить сюда общий hover эффект для кнопок, который кнопки делает серыми