
@mixin font-face($font, $color, $lineHeight, $letterSpacing: 0px) {
    font: $font;
    color: $color;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

/**
   Применят css праивила если устройство поддерживает hover эффект,
   т. е все кроме планшетов, телефонов
 */
@mixin ifHover{
    @media (hover: hover) {
        @content
    }
}