@import "./global";

// TODO: удалить
@mixin font-face($font, $color, $lineHeight, $letterSpacing: 0px) {
    font: $font;
    color: $color;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}


@mixin font-default($size, $weight, $lineHeight, $color: $textColorPrimary) {
    font-family: $fontFamily;
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    color: $color;
}

/**
   Применят css праивила если устройство поддерживает hover эффект,
   т. е все кроме планшетов, телефонов
 */
@mixin ifHover{
    @media (hover: hover) {
        @content
    }
}

// Дефолтный hover эффект для черных кнопок с белым шрифтом.
@mixin hoverWhiteBlackButton {
    @include ifHover {
        &:hover {
            background-color: $colorGray;
            color: $textColorPrimary;
            @content;
        }
    }
}

// Дефолтный hover эффект для карточек товаров, коллекций.
@mixin hoverCard {
    @include ifHover {
        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            @content;
        }
    }
}