@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    flex-basis: 286px;

    @include hoverCard {
        .buttonDiv {
            color: $colorPrimary;
            background-color: $colorWhite;

            img {
                filter: brightness(0%);
            }
        }
    }

    .photo {
        position: relative;
        display: flex;
        justify-content: center;

        .image {
            width: 100%;
            aspect-ratio: 0.865;
        }

        .title {
            position: absolute;
            bottom: 12px;
            @include font-default(15px, 500, 18.29px, $textColorWhite);
        }
    }

    .buttonDiv {
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $colorPrimary;
        @include font-default(14px, 500, 17.07px, $textColorWhite);

        img {
            width: 20px;
            height: 20px;
        }
    }
}