@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


$fontTitle: 500 normal 15px $fontFamily;
$fontButton: 500 normal 14px $fontFamily;


.root {
    width: 286px;
    height: 374px;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        .buttonDiv {
            color: $colorPrimary;
            background-color: $colorWhite;
            cursor: pointer;

            img {
                filter: brightness(0%);
            }
        }
    }

    .photo {
        position: relative;
        display: flex;
        justify-content: center;

        .title {
            @include font-face($fontTitle, $colorWhite, 18.29px);
            position: absolute;
            bottom: 12px;
        }
    }

    .buttonDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 44px;
        background-color: $colorPrimary;
        @include font-face($fontButton, $colorWhite, 17.07px);
        color: $colorWhite;

        img {
            width: 20px;
            height: 20px;
        }
    }
}