@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    display: flex;
    flex-direction: column;
    padding: 11px 0 64px 0;

    .title {
        @include font-default(24px, 500, 29.26px);
    }

    .qtyLabel {
        margin-top: 12px;
        @include font-default(16px, 500, 19.5px);
    }

    .cardsView {
        margin-top: 16px;
        gap: 8px;
    }

    .mayBeOffer {
        margin-top: 48px;
        @include font-default(24px, 500, 26.26px);
        opacity: 0.1;
    }

    .randomMobileCardsContainer {
        margin-top: 16px;
        margin-right: -16px;
    }

    .randomCardsContainer {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}


@media (max-width: $md4 + px) {
    .root {
        padding: 24px 16px 64px 16px;

        .title {
            @include font-default(16px, 500, 19.5px);
        }

        .qtyLabel {
            @include font-default(13px, 400, 15.85px);
        }

        .mayBeOffer {
            @include font-default(16px, 500, 19.5px);
            opacity: 1;
        }
    }
}