@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    display: flex;
    flex-direction: column;

    .photos {
        height: 394px;

        .slide {
            width: 288px;
            height: 394px;
            margin-right: 8px;


            img {
                width: 288px;
                height: 394px;
                aspect-ratio: 0.637;
            }
        }

    }

    .info {
        margin-top: 18px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 18px 12px;

        background-color: $colorWhite;

        .title {
            @include font-default(18px, 500, 21.94px);
        }

        .vendor {
            margin-top: 18px;

            @include font-default(14px, 400, 14px);

            .vendorValue {
                margin-left: 6px;
                @include font-default(14px, 400, 14px);
            }
        }

        .color {
            margin-top: 12px;
            display: flex;
            flex-direction: row;

            @include font-default(14px, 400, 17.07px);


            .colorButtons {
                margin-left: 6px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;

                .buttonDiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;

                    button {
                        width: 10px;
                        height: 10px;
                        border-radius: 6px;
                        border: 1px solid #D1D1D1;
                    }

                    &.active {
                        border: 1px solid #D6D6D6;
                    }
                }
            }
        }

        .price {
            margin-top: 18px;
            @include font-default(18px, 400, 21.94px);

            .oldPrice {
                margin-left: 6px;
                @include font-default(14px, 500, 17.07px, $textColorGray);
                text-decoration: line-through;
            }
        }

        .description {
            margin-top: 18px;

            .title {
                @include font-default(14px, 500, 17.07px);
            }

            .text {
                margin-top: 6px;
                @include font-default(13px, 400, 22.1px, #6A6A6A);
            }
        }

        .props {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 13.67px;

            .propsLabel {
                @include font-default(14px, 400, 17.07px);
            }

            .propsValue {
                margin-left: 6px;
                @include font-default(14px, 400, 17.07px);
            }
        }

        .buttons {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            img {
                width: 24px;
                height: 21px;
            }

            .buttonHovered {
                @include ifHover {
                    &:hover {
                        background-color: $colorGray;

                        span {
                            color: $textColorPrimary;
                        }

                        img {
                            filter: brightness(45%);
                        }
                    }
                }
            }

            .buttonShoppingBag {
                width: 428px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: $colorPrimary;

                span {
                    margin-left: 5px;
                    @include font-default(14px, 500, 17.07px, $colorWhite);
                }
            }

            .buttonFavorite {
                margin-left: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                background-color: $colorPrimary;
            }
        }
    }
}