@import "src/shared/styles/mixins";


.root {
    position: fixed;
    //width: 100vw;
    //height: 100vh;
    //right: 0;
    //bottom: 0;
    right: calc(max-width);
    bottom: 5%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    button {
        width: 44px;
        height: 44px;
        border-radius: 6px;

        @include ifHover {
            &:hover {
                transform: scale(1.15);
            }
        }
    }
}