.root {
    position: fixed;
    z-index: 2;
    right: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    button {
        width: 44px;
        height: 44px;
        border-radius: 6px;
        &:hover {
            transform: scale(1.15);
        }
    }
}