@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    position: fixed;
    right: calc((100vw - #{$maxWidthContainer + px}) / 2);
    bottom: 5%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    button {
        width: 44px;
        height: 44px;
        border-radius: 6px;

        @include ifHover {
            &:hover {
                transform: scale(1.15);
            }
        }
    }
}