@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.card {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: $colorWhite;

    .image {
        min-width: 15%;
        height: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .textBlock {
        padding-left: 16px;

        .title {
            @include font-default(16px, 500, 19.5px);
        }

        .text {
            margin-top: 6px;
            @include font-default(14px, 300, 23.1px);
        }
    }
}


@media (max-width: $md4+px) {
    .card {
        flex-direction: column;
        align-items: center;

        .image {
            width: 100%;

            img {
                width: 100%;

            }
        }

        .textBlock {
            margin-top: 16px;
        }
    }
}