@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


$fontTitle: 500 normal 24px $fontFamily;
$fontPageButton: 500 normal 14px Inter;

.root {
    padding: 48px 0 24px 99px;
    background-color: $colorPrimary;
    color: $colorWhite;

    .container {
        display: flex;
        flex-direction: column;

        .blocks {
            display: flex;
            flex-direction: row;

            .logo {

            }

            .links {
                a {
                    display: block;
                    @include font-face($fontPageButton, $colorWhite, 21px);
                    text-decoration: none ;
                }
            }

            .contacts {

            }

            .social {

            }
        }

        .createdBy {

        }
    }
}