@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    padding: 48px 99px 24px 99px;
    background-color: $colorPrimary;
    color: $colorWhite;

    .container {
        display: flex;
        flex-direction: column;

        .blocks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 243px;
                height: 105px;

                img {
                    width: 100%;
                }
            }


            .links {
                a {
                    display: block;
                    text-decoration: none;
                }
            }

            .contacts {
            }

            .social {
                a {
                    display: block;
                    text-decoration: none;
                }
            }

            .blockTitle {
                margin-bottom: 16px;
                @include font-default(16px, 600, 19.5px, $textColorWhite);
            }

            .blockItem {
                margin-bottom: 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                @include font-default(14px, 400, 17.07px, $textColorWhite);

                a {
                    @include font-default(14px, 400, 17.07px, $textColorWhite);
                }


                img {
                    margin-right: 6px;
                    width: 18px;
                    height: 18px;
                }

                @include ifHover {
                    &:hover {
                        @include font-default(14px, 400, 17.07px, $textColorGray);
                        a {
                            @include font-default(14px, 400, 17.07px, $textColorGray);
                        }
                        img {
                            filter: brightness(0.8);
                        }
                    }
                }
            }
        }

        .horizontalLine {
            display: none;
        }

        .companyLabel {
            margin-top: 32px;
            @include font-default(14px, 400, 17.07px, #B9B9B9);
        }
    }
}


@media (max-width: $md4 + px) {
    .root {
        padding: 24px 16px;

        .container {
            .blocks {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .blockTitle {
                    margin-top: 24px;
                    margin-bottom: 18px;
                    @include font-default(14px, 500, 17.07px, $textColorWhite);
                }

                .blockItem {
                    @include font-default(12px, 400, 14.63px, $textColorWhite);
                }

            }

            .horizontalLine {
                display: block;
                border: 1px solid #363635
            }

            .companyLabel {
                margin-top: 0;
                @include font-default(14px, 400, 17.07px, #B9B9B9);
            }
        }
    }
}