@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    padding: 11px 0 64px 0;

    .query {
        display: flex;
        flex-direction: row;
        gap: 6px;
        @include font-default(24px, 500, 29.26px);
    }

    .cardsView {
        margin-top: 16px;
        gap: 8px;
    }

    .paginator {
        margin-top: 16px;
    }
}


@media (max-width: $md4 + px) {
    .root {
        padding: 18px 16px 64px 16px;

        .query {
            display: flex;
            flex-direction: column;
            gap: 0;
            @include font-default(16px, 500, 19.5px);
        }
    }
}