@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    padding: 12px 0 64px 0;
    background-color: $colorMainBackground;

    .title {
        margin-bottom: 18px;
        @include font-default(24px, 500, 29.26px);
    }

    .news {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}


@media (max-width: $md4 + px) {
    .root {
        padding: 24px 16px 64px 16px;

        .title {
            @include font-default(18px, 500, 21.94px);
        }
    }
}