@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .wrap {
    }
}


@media (max-width: $md4 + px) {
    .root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;

        .wrap {
            width: 100%;
        }
    }
}