@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    margin-top: 40px;

    .title {
        @include font-default(24px, 500, 29.26px);
        text-align: center;
    }

    .buttonDiv {
        margin: 16px 0;
        display: flex;
        justify-content: center;

        button {
            width: 107px;
            height: 32px;
            background-color: $colorPrimary;
            @include font-default(13px, 500, 15.85px, $textColorWhite);
            @include hoverWhiteBlackButton;
        }
    }
}

@media (max-width: $md4 + px) {
    .root {
        padding-left: 17px;
    }

    .title {
        @include font-default(18px, 500, 21.94px);
    }
}