@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


$fontTitle: 500 normal 24px $fontFamily;
$fontVendor: 400 normal 14px $fontFamily;
$fontPrice: 400 normal 24px $fontFamily;
$fontOldPrice: 500 normal 16px $fontFamily;
$fontDescriptionTitle: 500 normal 16px $fontFamily;
$fontDescriptionText: 400 normal 14px $fontFamily;


.root {
    display: flex;
    flex-direction: row;
    background-color: $colorWhite;

    .column1 {
        width: 50%;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .column2 {
        display: flex;
        flex-direction: column;
        width: 50%;

        .title {
            @include font-face($fontTitle, $textColorPrimary, 29px);
        }

        .vendor {
            @include font-face($fontVendor, $textColorPrimary, 14px);

            .vendorLabel {
                font-weight: bold;
            }

            .vendorValue {
            }
        }

        .color {
            @include font-face($fontVendor, $textColorPrimary, 17px);

            .colorLabel {
                font-weight: bold;
            }

        }

        .price {
            @include font-face($fontPrice, $textColorPrimary, 29px);

            .oldPrice {
                @include font-face($fontOldPrice, $textColorGray, 20px);
                text-decoration: line-through;
            }
        }

        .description {
            .title {
                @include font-face($fontDescriptionTitle, $textColorPrimary, 20px);
                font-weight: bold;
            }

            .text {
                @include font-face($fontDescriptionText, #6A6A6A, 25px);

            }

        }

        .props {

        }

        .buttons {

        }

    }
}