@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    display: flex;
    flex-direction: column;
    padding-top: 12px;


    .title {
        @include font-default(24px, 500, 29.26px);
        margin-bottom: 18px;
    }

    .news {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}