@import "src/shared/styles/global";


.limitContainer {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    //padding: 5px;
}

.headerContainer {
    background-color: $colorWhite;
}

.contentContainer {
    background-color: $colorMainBackground;
}

.footerContainer {
    background-color: $colorPrimary;
}

