@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    .emptyResultText {
        margin-top: 16px;
        @include font-default(16px, 400, 19.5px);
    }

    .mayBeOffer {
        margin-top: 48px;
        @include font-default(24px, 500, 26.26px);
        opacity: 0.1;
    }

    .cardContainer {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .mobileCardContainer {
        margin-top: 16px;
    }
}


@media (max-width: $md4 + px) {
    .root {
        margin-right: -16px;

        .emptyResultText {
            @include font-default(13px, 400, 15.85px);
        }

        .mayBeOffer {
            margin-top: 32px;
            @include font-default(16px, 500, 19.5px);
            opacity: 1;
        }
    }
}