@import "src/shared/styles/global";
@import "src/shared/styles/mixins";


.root {
    padding: 32px 0 64px 0;

    .title {
        @include font-default(24px, 500, 29.26px);
    }

    .cardsContainer {
        margin-top: 16px;
        gap: 8px;
    }

    .paginator {
        margin-top: 16px;
    }
}


@media (max-width: $md4 + px) {
    .root {
        padding: 24px 17px 64px 17px;

        .title {
            @include font-default(18px, 500, 21.94px);
        }
    }
}